<div>

  <div>
    <h1>
      <%= @the_board.name %>
    </h1>
<hr>
<h2>Add a new post</h2>
    <div>
      <div>
        <form action="/insert_post" method="post">
          <div>
            <label for="title_input">Title</label>
            <input type="text" id="title_input" name="query_title">
          </div>

          <div>
            <label for="body_input">Body</label>
            <textarea name="query_body" id="body_input" rows="3"></textarea>
          </div>

          <div>
            <label for="expires_input">Expires on</label>
            <input type="date" id="expires_input" name="query_expires_on">
          </div>
          <input type="hidden" id="id_input" name="query_board_id" value="<%= @the_board.id%>">
          <div>
            <button>Add post</button>
          </div>
        </form>
      </div>
    </div>
<hr>
<h2>Active posts</h2>
<table border="1">
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Posted on</th>
    <th>Expires on</th>
  </tr>
  <% @active_posts.each do |a_board| %>
    <tr>
      <td><%= a_board.title%> </td>
      <td><%= a_board.body %></td>
      <td><%= a_board.created_at.strftime("%b, %e, %Y") %></td>
      <td><%= a_board.expires_on.strftime("%b, %e, %Y") %></td>
    </tr>
  <%end%>
  <tr></tr>
  <tr></tr>
</table>
</div>
<h2>Expired posts</h2>
<div>
  <table border="1">
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Posted on</th>
    <th>Expires on</th>
  </tr>
  <% @expired_posts.each do |a_board|%>
  <tr>
      <td><%= a_board.title%> </td>
      <td><%= a_board.body %></td>
      <td><%= a_board.created_at.strftime("%b, %e, %Y") %></td>
      <td><%= a_board.expires_on.strftime("%b, %e, %Y") %></td>
    </tr>
  <%end%>
  </table>
  </div>
